<nav class="navbar navbar-default" role="navigation">
    <div class="row">
        <button class="btn" routerLink="listar-cliente">Clientes</button>
        <button class="btn" routerLink="listar-factura">Factura</button>
        <button class="btn" routerLink="listar-pago">Pago</button>
        <button class="btn" routerLink="listar-clientefactura">Detalle facturas por cliente</button>
        <button class="btn" routerLink="consultar-facturanopaga">Consultar factura no paga</button>
    </div>
</nav>
<router-outlet></router-outlet>
