<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title text-center">ACTUALIZAR CLIENTE</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>CEDULA/NIT:{{actualizarCliente.cedulaNit}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div>CLIENTE:{{actualizarCliente.cliente}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" numbersOnly class="form-control" formControlName="estrato" maxlength="1" placeholder="* Ingrese estrato..." [ngClass]="{ 'is-invalid': editForm.get('estrato').hasError('required') && editForm.get('estrato').touched }">
                                            <div *ngIf="editForm.controls['estrato'].hasError('required')">Campo requerido</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" numbersOnly class="form-control" formControlName="telefono" maxlength="7" placeholder="* Ingrese el telefono...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" numbersOnly class="form-control" formControlName="celular" maxlength="10" placeholder="* Ingrese el celular...">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                      <button class="btn" *ngIf="editForm.valid">Aceptar</button>
                                    </div>
                                      <button class="btn" routerLink="listar-cliente">Regresar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>