<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title text-center">PAGAR FACTURA</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select formControlName="numero" class="form-control" [(ngModel)]="seleccionado">
                                                <option [ngValue]="undefined" disabled  selected>Seleccione una factura...</option>
                                                <option [value]="facturaLista.id" *ngFor="let facturaLista of listaFactura">{{facturaLista.numero}}</option>
                                            </select>
                                            <div *ngIf="addForm.controls['numero'].hasError('required')">Campo requerido</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="listaFactura==0">
                                    No hay facturas pendientes por pagar
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <button class="btn" *ngIf="addForm.valid">Pagar</button>
                                    </div>
                                    <button class="btn" (click)="listarPago()">Regresar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>